@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --primary: ;

  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
  --font-ibm-plex-sans-jp: "IBM Plex Sans JP", sans-serif;
}

html,
body {
  font-family: var(--font-ibm-plex-sans-jp), var(--font-ibm-plex-mono),
    sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
